In [ ]:
print('hello world')

In [ ]:
import numpy as np

In [ ]:
data = {i : np.random.randn() for i in range(7)}
data

In [ ]:
b = [1,2,3]
?b

In [ ]:
np.*load*?

In [13]:
%paste

UsageError: Line magic function `%paste` not found.

In [14]:
%cpaste

UsageError: Line magic function `%cpaste` not found.

In [15]:
a = np.random.randn(100,100)

In [16]:
%timeit np.dot(a,a)

23.7 µs ± 14 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [1]:
%pdb

Automatic pdb calling has been turned ON

In [3]:
%pdb 1

Automatic pdb calling has been turned ON

In [4]:
a = [1,2,3]

In [5]:
b = a

In [6]:
a.append(4)
b

[1, 2, 3, 4]

In [ ]:
%pdb off

In [3]:
a = 4.5
b = 2
print('a is {0}, b is {1}'.format(a,b))

a is 4.5, b is 2

In [4]:
isinstance(a,int)

False

In [9]:
a = 'this is a string'
b = a.replace('string','longer string')
b

'this is a longer string'

In [10]:
s = 'python'
s[:3]

'pyt'

In [11]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [19]:
s = '12\\13'

In [20]:
print(s)

12\13

In [21]:
tup = 3,4,6
type(tup)

tuple

In [22]:
tup = (1,2,3),(4,5)
tup

((1, 2, 3), (4, 5))

In [23]:
tuple([4,0,2])

(4, 0, 2)

In [24]:
tup = tuple('string')

In [25]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [26]:
tup[0]

's'

In [28]:
tup = tuple(['foo', [1, 2], True])

In [29]:
tup[1].append(3)

In [30]:
tup

('foo', [1, 2, 3], True)

In [31]:
tup = (4,5,6)
a,b,c = tup
b

5

In [32]:
a,b=1,2
a,b = b,a

In [33]:
a

2

In [34]:
values = 1,2,3,4,5
a,b,*rest = values
rest

[3, 4, 5]

In [35]:
a,b,*_ = values
a

1

In [36]:
b

2

In [37]:
a_list = [2,3,7,None]

In [38]:
tub  = ('foo','bar','baz')

In [39]:
tub

('foo', 'bar', 'baz')

In [40]:
b_list = list (tub)

In [41]:
b_list

['foo', 'bar', 'baz']

In [42]:
b_list[1] = 'peekaboo'

In [43]:
b_list

['foo', 'peekaboo', 'baz']

In [44]:
gen = range(10)

In [45]:
gen

range(0, 10)

In [50]:
gen = list(gen)

In [51]:
gen.append(10)
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
gen.pop()

10

In [53]:
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
gen.pop(2)
gen

[0, 1, 3, 4, 5, 6, 7, 8, 9]

In [55]:
gen.insert(2,2)

In [56]:
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
c =gen

In [58]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
gen.remove(8)
gen

[0, 1, 2, 3, 4, 5, 6, 7, 9]

In [60]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 9]

In [65]:
c = gen.copy()

In [66]:
gen.insert(8,8)
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 8, 9]

In [67]:
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c,5)

6

In [76]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [77]:
seq[:5]

[7, 2, 3, 7, 5]

In [78]:
seq[3:]

[7, 5, 6, 0, 1]

In [79]:
seq[-4:]

[5, 6, 0, 1]

In [81]:
seq[-6:-2]

[3, 7, 5, 6]

In [82]:
seq[::2]

[7, 3, 5, 0]

In [83]:
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

In [85]:
sorted([7, -1, 2, 6, 0, 3, 2])

[-1, 0, 2, 2, 3, 6, 7]

In [86]:
list1 = [7, -1, 2, 6, 0, 3, 2]
list1.sort()

In [87]:
list1

[-1, 0, 2, 2, 3, 6, 7]

In [92]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)

In [94]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [103]:
a = range(10)
a = reversed(a)
list(a)
a = sorted(list(a))
a

[]

In [104]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [108]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [109]:
'b' in d1

True

In [110]:
d1[5] = 'some values'

In [111]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some values'}

In [112]:
d1['dummy'] = 'another value'

In [113]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some values',
 'dummy': 'another value'}

In [114]:
del d1[5]

In [115]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [116]:
ret = d1.pop('dummy')

In [117]:
ret

'another value'

In [118]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [119]:
d1.pop?

Docstring:
D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
If key is not found, d is returned if given, otherwise KeyError is raised
Type:      builtin_function_or_method

In [120]:
list(d1.keys())

['a', 'b', 7]

In [129]:
temp = d1.values()
list(temp)

['some value', [1, 2, 3, 4], 'an integer']

In [130]:
d1.items()

dict_items([('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')])

In [131]:
hash('string')

-2031934803095548011

In [132]:
hash((1, 2, (2, 3)))

1097636502276347782

In [133]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [134]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [135]:
c = a | b

In [136]:
c

{1, 2, 3, 4, 5, 6, 7, 8}